.cartas_actual_jugador {
  border-color: darkgray;
  border-style: solid;
  border-radius: 10px;
  margin: 10px;
  padding: 10px;
}

.boton_play {
  margin: 20px 0 20px 0;
  position: fixed;
  width: 80%;
  margin-top: -50px;
}
